.my-head {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

@media (prefers-reduced-motion: no-preference) {
    .my-head {
        animation: my-head-spin infinite 7s linear;
    }
}

@keyframes my-head-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
